
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    min-height: 100%;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
}
h3,h4,h5,h6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
	margin: 0;
	color:#444a57;
    font-size: 20px;
}
h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    color: #2b542c;
}
h2{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 26px;
    color: #444a57;
}

p {
	margin: 0;
	color:#818998;
	font-size:14px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: 100px;
    background: #33b54f;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}

/*-------------------------------------
        Menu
--------------------------------------*/
nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #213829;}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus{
    display: inline-block;
    color: #fff;
    font-size: 26px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    padding: 45px 0px;
    align-content: center;
}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}

nav.navbar.bootsnav ul.nav > li > a {
    color: #f5f7fa;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    align-content: center;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 48px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color:#9ce05c;}
nav.navbar.bootsnav ul.nav > li.active>a {color: #9ce05c;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}

.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #213829;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #213829;
}

nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 2px solid #a3be4e;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #a3be4e;}

.welcome-hero {
    position: relative;
    background:url(../images/windmuehlen.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.welcome-hero img {
    position: absolute; bottom: 0;
}

.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

/*.welcome-hero-txt*/
.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 46px;
    color: #fff;
    margin-bottom: 20px;
}
.welcome-hero-txt p {
    font-size: 18px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}
.welcome-btn {
    display: inline-block;
    background: #a3be4e;
    color: #fff;
    border-radius: 25px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.welcome-btn:hover{
    background:  #639B4A;
}

/*-------------------------------------
        inputs
--------------------------------------*/

#toggle {
    display: none;
  }
  
  label {
    display: inline-block;;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 32px;
  }
  
  label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  #toggle:checked + label {
    background-color: #A3BE4E;
  }
  
  #toggle:checked + label::before {
    transform: translateX(20px);
  }

.model-search-content .col-md-2,
.model-search-content .col-sm-12 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-search-content .col-md-6 {
    justify-content: space-around;
    align-items: end;
}

.model-search-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0 10px 40px 0px rgba(38, 40, 64, .2);
    position: relative;
    width: 100%;
    border-radius: 3px;
    gap: 10px;
    flex: 0 1 100px;
    align-content: center;
}

/*.single-model-search*/
.single-model-search {
    padding: 5px;
    margin-bottom: 30px;

}
.single-model-search:last-child {margin-bottom: 0;}

.single-model-search h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.model-input{
    position:relative;
}
.model-input .form-control {
    outline: 0!important;
    box-shadow: none;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    height: 60px;
    flex-basis: 40px;
}

.model-input input {
    font-size: 16px;
    color: #888f9d;
    text-transform: capitalize;
}

.welcome-btn.model-search-btn {
    outline: 0!important;
    box-shadow: none;
    height: 60px;
    width: 120px;
    flex-basis: 100px;
    align-self: flex-end;
    vertical-align: center;
}

#chart {
    max-height: 300px;
}

#results {
    display: none; /* Initially hide the section */
    align-content: space-evenly;
    padding: 50px 70px 0 70px;
}

#results h1{
    padding-bottom: 15px;
}

.rec {
    padding: 0 0 30px 0;
    text-align: center;
    line-height: 2.5;
}

#results h4{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

/*-------------------------------------
        Features
--------------------------------------*/
.service { padding: 260px 0 87px;}

.service-content { padding: 50px 20px 0 20px;}

.service-content h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding: 0 0 20px 0;
    color: #2b542c;
}

.single-service-item{
    text-align: center;
    padding:30px 20px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #dadfe9;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

.single-service-icon {
    display: inline-block;
    color: #50616c;
}
.single-service-item h2 a {
    font-size:20px;
    margin: 35px 0 20px;
}
.single-service-item h2 a span {text-transform:  lowercase;}
.single-service-item p {padding-bottom: 35px;text-transform: initial;position: relative;}
.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #a3be4e;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-icon [class^="flaticon-"]:before,.single-service-icon[class*=" flaticon-"]:before,.single-service-icon [class^="flaticon-"]:after,.single-service-icon [class*=" flaticon-"]:after {font-size:60px;}
.single-service-item:hover .single-service-icon [class^="flaticon-"]:before,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:before,.single-service-item:hover .single-service-icon [class^="flaticon-"]:after,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:after {color:#fff;}


.single-service-item:hover h2 a,.single-service-item:hover p{color: #fff;}
.single-service-item:hover  p:before {background: #fff;}
.single-service-item:hover{box-shadow: 0 12px 30px 0px rgba(0,1,193,.2);background: #366233;border: 1px solid #639B4A;}

/*-------------------------------------
       About Us
--------------------------------------*/

#about-us {
    padding: 0 120px 200px 120px;
}

#about-us img{
    width: 500px;
    height: auto;
    padding-bottom: 20px;
}

.imagetextgrp{
    padding: 20px;
}

.imageleft img{
    float: right;
    margin-left: 40px;
}

.imageright img{
    float: left;
    margin-right: 40px;
}

/*-------------------------------------
        Footer
--------------------------------------*/

.footer {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
    min-height: 10px;
    margin-top: -200px;
    clear: both;
    position: relative;
}

.footer .right {
    text-align: right;
}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
