<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>GreenPeak Charge</title>

    <link rel="shortcut icon" type="image/icon" href="../static/images/green-energy.png" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootsnav.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
    <section id="home" class="welcome-hero">

        <!-- top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                    <div class="container">

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">GreenPeak Charge<span></span></a>
                        </div>
                        <!--/.navbar-header-->
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="scroll active"><a href="#home">Home</a></li>
                                <li class="scroll"><a href="#sustainability">Charge Estimator</a></li>
                                <li class="scroll"><a href="#featured-cars">Solar Power</a></li>
                                <li class="scroll"><a href="#featured-cars">Sustainability</a></li>
                                <li class="scroll"><a href="#new-cars">About</a></li>
                            </ul>
                            <!--/.nav -->
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!--/.container-->
                </nav>
                <!--/nav-->
                <!-- End Navigation -->
            </div>
            <!--/.header-area-->
            <div class="clearfix"></div>

        </div>
        <!-- /.top-area-->
        <!-- top-area End -->

        <div class="container">
            <div class="welcome-hero-txt">
                <h2>Charge Green, Drive Clean.</h2>
                <p>Lower CO2 Emissions by an average of unbelievable much and charge sustainably.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="model-search-content">
                        <div class="row">

                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>Continuous <br> loading</h2>
                                    <input type="checkbox" id="toggle" />
                                    <label for="toggle"></label>
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>Enter ZIP</h2>
                                    <div class="model-input">
                                        <input class="form-control" type="text" id='zipcode' name="zipcode" placeholder="ZIP" pattern="\d{5}" maxlength="5" inputmode="numeric" value="60594" required />
                                        <script>
                                            document.getElementById('zipcode').addEventListener('input', function (e) {
                                                this.value = this.value.replace(/[^0-9]/g, '').slice(0, 5);
                                            });
                                        </script>
                                    </div>
                                    <!-- /.model-select-icon -->
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>Enter Loading Time</h2>
                                    <div class="model-input">
                                        <input class="form-control" type="text" id='loading' name="loading" placeholder="hh" pattern="\d{5}" maxlength="2" inputmode="numeric" value="4" required />
                                        <script>
                                            document.getElementById('loading').addEventListener('input', function (e) {
                                                this.value = this.value.replace(/[^0-9]/g, '').slice(0, 5);
                                            });
                                        </script>
                                    </div>
                                    <!-- /.model-select-icon -->
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>Enter Departure Time</h2>
                                    <div class="model-input">
                                        <input class="form-control" type="text" id='dep' name="dep" placeholder="hh" pattern="\d{5}" maxlength="2" inputmode="numeric" value="12" required />
                                        <script>
                                            document.getElementById('dep').addEventListener('input', function (e) {
                                                this.value = this.value.replace(/[^0-9]/g, '').slice(0, 5);
                                            });
                                        </script>
                                    </div>
                                    <!-- /.model-select-icon -->
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>Select Modi</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control" id="modi">
                                            <option value="norm">No-Solar</option>
                                            <option value="solar">Just-Solar</option>
                                            <option value="comb">Combined</option>
                                        </select>
                                        <!-- /.select-->
                                    </div>
                                    <!-- /.model-select-icon -->
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                <div class="single-model-search text-center">
                                    <button class="welcome-btn model-search-btn" onclick="submit()">
                                        Go
                                    </button>
                                </div>
                            </div>

                            <div id="result-container" class="col-md-2 col-sm-12"></div>
                            <div id="result-chart" class="col-md-2 col-sm-12">
                                <canvas id="chart"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--/.welcome-hero-->
    <!--welcome-hero end -->

    <!--service start -->
    <section id="sustainability" class="sustainability">
        <div class="container">
            <div class="service-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item">
                            <div class="single-service-icon">
                                <i class="flaticon-car"></i>
                            </div>
                            <h2><a href="#">Green Energy</a></h2>
                            <p>"Green Energy" means that it comes from a sustainable renewable energy source, such as solar systems, windmills, watermills, and more.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item">
                            <div class="single-service-icon">
                                <i class="flaticon-car-repair"></i>
                            </div>
                            <h2><a href="#">Predict and Estimate</a></h2>
                            <p>Based on previous data, we predict when green energy will be available at your location and estimate the best time to charge your car.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item">
                            <div class="single-service-icon">
                                <i class="flaticon-car-1"></i>
                            </div>
                            <h2><a href="#">Weather sensitive</a></h2>
                            <p>To improve estimation quality, we pull weather data to fine-tune charge duration.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/.service-->
    <!--service end-->

    <!--contact start-->
    <footer class="footer">
        <div class="left">
            &copy; 2024 GreenPeak Charge - All rights reserved.
        </div>
        <div class="right">
            This is a project by xxx.
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootsnav.js"></script>
    <script src="/static/js/api.js"></script>

</body>

</html>
